*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*idea
app/gradle/wrapper/gradle-wrapper.properties
app/gradle/wrapper/gradle-wrapper.jar
app/gradlew.bat
app/gradlew
